[submodule "googletest"]
  path = test/lib/googletest
  url = https://github.com/google/googletest.git
  branch = master
[submodule "module/rapidjson"]
	path = module/rapidjson
	url = https://github.com/Tencent/rapidjson.git
